fastapi
uvicorn[standard]
sqlalchemy
python-multipart
pillow
numpy
opencv-python-headless
onnxruntime
requests
python-dotenv
pandas
openpyxl
python-jose[cryptography]
passlib[bcrypt]
bcrypt
psycopg2-binary
google-genai
